@import '../../styles/variables';

.flight-list {
    font-size: 14px;
    
    &__table {
        border-collapse: collapse;
        width: 100%;
        position: relative;
    }

    &__header {
        background-color: $primary-color;
        color: #fff;
        font-weight: lighter;
    }

    &__category {
        padding: 10px $gutter;
        text-align: left;
    }
}

.loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}