@import '../../styles/variables';

.flight-list {
    border-collapse: collapse;
    font-size: 14px;

    &__header {
        background-color: $primary-color;
        color: #fff;
        font-weight: lighter;
    }

    &__category {
        padding: 10px $gutter;
        text-align: left;
    }
}