@import './variables';

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

body {
    background-color: $bg-color;
    font-family: 'open sans';
}

h1 {
    margin-bottom: 50px;
}

.light-text {
    font-weight: lighter;
}

.container {
    max-width: 960px;
    padding: 100px 0;
    margin: auto;
}

.react-date-picker__button {
    border: 1px solid $grey !important;
    background-color: #fff;
    border-radius: 3px;
    padding: 4px 5px 3px;
}

.Select-control {
    border: 1px solid $grey !important;
}