@import '../../styles/variables';

.filters {
    margin: $spacing 0;
    border-bottom: 1px solid $grey;
    padding-bottom: $gutter;
    
    &__bar {
        display: flex;
        align-items: center;
        margin: $gutter 0;
        justify-content: space-between
    }
}

.flight-type {
    margin-bottom: $gutter;
    
    &__label {
        cursor: pointer;
    }
    
    &__name {
        margin-left: 5px;
    }

    &__input {
        cursor: pointer;
    }
    
    &:last-of-type {
        margin-bottom: 30px
    }

}

.search {
    flex: 1;

    &__input {
        width: 250px;
        border: 1px solid $grey;
        padding: 10px $gutter;
        border-radius: 3px;
        font-size: 14px;
    }
}

.timepicker {
    margin-right: $gutter;

    &__input {
        width: 150px;
    }
}